@media screen and (max-width: 960px)
	/* BASE */ 
	.nav-list
		display none
	.w-nav
		display block

@media screen and (max-width: 480px)
	/* BASE */ 
	.footer
		.w-copyright
			margin 0
			padding 1.5em 0
		.copyright
			height auto
			text-align center
			.from
				float none
				margin-bottom 0.4em
			.by
				float none